
@{
    ViewBag.Title = "checkoutPaymentMethod";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div id="all">
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- breadcrumb-->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li aria-current="page" class="breadcrumb-item active">Checkout - Payment method</li>
                        </ol>
                    </nav>
                </div>
                <div id="checkout" class="col-lg-9">
                    <div class="box">
                        <form method="post" action="@Url.Action("OrderPreview","Cart")">
                            <h1>Checkout - Payment method</h1>
                            <div class="nav flex-column flex-sm-row nav-pills"><a href="@Url.Action("checkoutAddress","Cart")" class="nav-link flex-sm-fill text-sm-center"> <i class="fa fa-map-marker">                  </i>Address</a><a href="#" class="nav-link flex-sm-fill text-sm-center"> <i class="fa fa-truck">                       </i>Delivery Method</a><a href="checkout3.html" class="nav-link flex-sm-fill text-sm-center active"> <i class="fa fa-money">                      </i>Payment Method</a><a href="#" class="nav-link flex-sm-fill text-sm-center disabled"> <i class="fa fa-eye">                     </i>Order Review</a></div>
                            <div class="content py-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="box payment-method">
                                            <h4>Cash on delivery</h4>
                                            <p>You pay when you get it.</p>
                                            <div class="box-footer text-center">
                                                <input type="radio" name="payment" value="Cash on delivery" required checked>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" onclick="showDemoPaypalAC();">
                                        <div class="box payment-method" >
                                            <h4>Paypal</h4>
                                            <p>We like it all.</p>
                                            <div class="box-footer text-center">
                                                <input type="radio" name="payment" value="Paypal" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="box payment-method">
                                            <h4>Payment gateway</h4>
                                            <p>VISA and Mastercard only.</p>
                                            <div class="box-footer text-center">
                                                <input type="radio" name="payment" value="Payment gateway" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row-->
                                <input hidden type="text" value="@ViewBag.name" name="name" />
                                <input hidden type="text" value="@ViewBag.phone" name="phone" />
                                <input hidden type="text" value="@ViewBag.address" name="address" />
                                <input hidden type="text" value="@ViewBag.delivery" name="delivery" />

                            </div>
                            <!-- /.content-->
                            <div class="box-footer d-flex justify-content-between">
                                <a href="checkout2.html" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i>Back to Shipping Method</a>
                                <button type="submit" class="btn btn-primary">Continue to Order Review<i class="fa fa-chevron-right"></i></button>
                            </div>
                        </form>
                        <!-- /.box-->
                    </div>
                </div>
                <!-- /.col-lg-9-->
                <div class="col-lg-3">
                    @Html.Action("orderSummaryPartialView", "Cart")
                </div>
                <!-- /.col-lg-3-->
            </div>
        </div>
    </div>
</div>

<script>
    var showDemoPaypalAC = function () {
        alert("Use this account to test paypal payment method\nemail: nhom13web@personal.example.com\npassword: abc@123456");
    }
</script>