@using clothesWebSite.DAO;
@{
    ViewBag.Title = "orderHistory";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

    //Clear previouse payment in session
    if (Session["Payment"] != null)
    {
        Session["Payment"] = null;
    }
}
<div id="all">
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- breadcrumb-->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li aria-current="page" class="breadcrumb-item active">My orders</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <!--
                    *** CUSTOMER MENU ***
                    _________________________________________________________
                    -->
                    @Html.Action("customerSectionPartialView","User")

                    <!-- /.col-lg-3-->
                    <!-- *** CUSTOMER MENU END ***-->
                </div>
                <div id="customer-orders" class="col-lg-9">
                    <div class="box">
                        <h1>My orders</h1>
                        <p class="lead">Your orders on one place.</p>
                        <p class="text-muted">If you have any questions, please feel free to <a href="@Url.Action("Contact","User")">contact us</a>, our customer service center is working for you 24/7.</p>
                        <hr>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Order</th>
                                        <th>Date - Time</th>
                                        <th>Total</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <th># @item.payment_id</th>
                                        <td>@item.create_date</td>
                                        @{ double totalPrice = PaymentDAO.getTotalPrice(item) + 10;}
                                        <td>$@totalPrice</td>
                                        @if (item.state == 0)
                                        {
                                            <td><span class="badge badge-danger">Cancelled</span></td>
                                        }
                                        else if (item.state == 1)
                                        {
                                            <td><span class="badge badge-warning">On hold</span></td>
                                        }
                                        else if (item.state == 2)
                                        {
                                            <td><span class="badge badge-info">Being prepared</span></td>
                                        }
                                        else if (item.state == 3)
                                        {
                                            <td><span class="badge badge-success">On way</span></td>

                                        }
                                        else if (item.state == 4)
                                        {
                                            <td><span class="badge badge-success">Received</span></td>

                                        }
                                        else
                                        {
                                            <td><span class="badge badge-success">@item.state</span></td>

                                        }

                                        <td><a href="@Url.Action("orderDetailHistory","User", new{ id = item.payment_id})" class="btn btn-primary btn-sm">View</a></td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>