@using clothesWebSite.DAO;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div id="all">
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="main-slider" class="owl-carousel owl-theme">
                        @foreach (var item in ViewBag.bannerT)
                        {
                            String i = "banner_" + @item.banner_id + "_1.jpg";
                            <div class="item"><img src="~/img/slider/@i" alt="" class="img-fluid"></div>
                        }

                    </div>
                    <!-- /#main-slider-->
                </div>
            </div>
        </div>
        <!--
        *** ADVANTAGES HOMEPAGE ***
        _________________________________________________________
        -->
        <div id="advantages">
            <div class="container">
                <div class="row mb-4">
                    <div class="col-md-4">
                        <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                            <div class="icon"><i class="fa fa-heart"></i></div>
                            <h3><a href="#">We love our customers</a></h3>
                            <p class="mb-0">We are known to provide best possible service ever</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                            <div class="icon"><i class="fa fa-tags"></i></div>
                            <h3><a href="#">Best prices</a></h3>
                            <p class="mb-0">You can check that the height of the boxes adjust when longer text like this one is used in one of them.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                            <div class="icon"><i class="fa fa-thumbs-up"></i></div>
                            <h3><a href="#">100% satisfaction guaranteed</a></h3>
                            <p class="mb-0">Free returns on everything for 3 months.</p>
                        </div>
                    </div>
                </div>
                <!-- /.row-->
            </div>
            <!-- /.container-->
        </div>
        <!-- /#advantages-->
        <!-- *** ADVANTAGES END ***-->
        <!--
        *** HOT PRODUCT SLIDESHOW ***
        _________________________________________________________
        -->
        <div id="hot">
            <div class="box py-4">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="mb-0">New Product</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="product-slider owl-carousel owl-theme">
                    @foreach (var item in ViewBag.product)
                    {
                        <div class="item">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front"><a href="@Url.Action("ProductDetail","Clothes", new{ id = item.product_id})"><img src="~/img/product/@item.image_name" alt="" class="img-fluid"></a></div>
                                    </div>
                                </div><a href="@Url.Action("ProductDetail","Clothes", new{ id = item.product_id})" class="invisible"><img src="~/img/product/@item.image_name" alt="" class="img-fluid"></a>
                                <div class="text">
                                    <h3><a href="@Url.Action("ProductDetail","Clothes", new{ id = item.product_id})">@item.product_name</a></h3>
                                    <p class="price">
                                        @if (ProductDAO.isSaleProduct(item))
                                        {
                                            <del>$@item.sale_price</del><text>$</text>@(item.sale_price - ProductDAO.getSalePrice(item))
                                        }
                                        else
                                        {
                                            @("$" + item.sale_price)
                                        }
                                    </p>
                                </div>
                                <!-- /.text-->
                                @if (ProductDAO.isHotProduct(item))
                                {
                                    <div class="ribbon new">
                                        <div class="theribbon">NEW</div>
                                        <div class="ribbon-background"></div>
                                    </div>
                                }
                                @if (ProductDAO.isSaleProduct(item))
                                {
                                    <div class="ribbon sale">
                                        <div class="theribbon">SALE</div>
                                        <div class="ribbon-background"></div>
                                    </div>
                                }
                                <!-- /.ribbon-->
                            </div>
                            <!-- /.product-->
                        </div>
                    }


                    <!-- /.product-slider-->
                </div>
                <!-- /.container-->
            </div>
            <!-- /#hot-->
            <!-- *** HOT END ***-->
        </div>
        <!--
        *** GET INSPIRED ***
        _________________________________________________________
        -->
        <div class="container">
            <div class="col-md-12">
                <div class="box slideshow">
                    <h3>Get Inspired</h3>
                    <p class="lead">Get the inspiration from our world class designers</p>
                    <div id="get-inspired" class="owl-carousel owl-theme">
                        @foreach (var item in ViewBag.bannerB)
                        {
                            String i = "banner_" + @item.banner_id + "_1.jpg";
                            <div class="item"><a href="@Url.Action("AllPost","Clothes")"><img src="~/img/slider/@i" alt="Get inspired" class="img-fluid"></a></div>
                        }
                   
                    </div>
                </div>
            </div>
        </div>
        <!-- *** GET INSPIRED END ***-->
        <!--
        *** BLOG HOMEPAGE ***
        _________________________________________________________
        -->
        <div class="box text-center">
            <div class="container">
                <div class="col-md-12">
                    <h3 class="text-uppercase">From our blog</h3>
                    <p class="lead mb-0">What's new in the world of fashion? <a href="@Url.Action("AllPost","Clothes")">Check our blog!</a></p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-12">
                <div id="blog-homepage" class="row">
                    @foreach (var item in ViewBag.post)
                    {
                        <div class="col-sm-6">
                            <div class="post">
                                <h4><a href="@Url.Action("PostDeitail","Clothes",new{  id = item.post_id })">@item.title</a></h4>
                                <p class="author-category">Update @item.last_update</p>
                                <hr>
                                <p class="intro">@item.content</p>
                                <p class="read-more"><a href="@Url.Action("PostDeitail","Clothes",new{  id = item.post_id })" class="btn btn-primary">Continue reading</a></p>
                            </div>
                        </div>
                    }
                </div>
                <!-- /#blog-homepage-->
            </div>
        </div>
        <!-- /.container-->
        <!-- *** BLOG HOMEPAGE END ***-->
    </div>
</div>

