@model IEnumerable<clothesWebSite.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutAdministrator.cshtml";
}

<h2>Products</h2><br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table border="1" class="table">
    <tr style="background-color:lightgray">
        <th>
            Type Name
        </th>
        <th>
            Product Name
        </th>
        <th>
            Sale Price
        </th>
        <th>
            Import Price
        </th>
        <th>
            Count View
        </th>
        <th>
            Total Rating
        </th>
        <th>
            Count Rating
        </th>
        <th>
            Content
        </th>
        <th>
            State
        </th>
        <th>
            Last Update
        </th>
        <th>
            Create Day
        </th>
        <th>
            Images Name
        </th>
        <th>
            Optional
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType.type_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sale_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.import_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.count_views)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.count_rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.last_update)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.create_day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.image_name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.product_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.product_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.product_id })
            </td>
        </tr>
    }

</table>
