@model IEnumerable<clothesWebSite.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_LayoutAdministrator.cshtml";
}

<h2>Products</h2><br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductType.type_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sale_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.import_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.count_views)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.count_rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_update)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.create_day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductType.type_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sale_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.import_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.count_views)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total_rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.count_rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_update)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.create_day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.image_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.product_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.product_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.product_id })
        </td>
    </tr>
}

        </table>
    </div>
